<header class="header">
    <div class="section section-left">
        <button class="btn btn-primary">
            <fa-icon [icon]="faPlus" class="icon-left"></fa-icon>
            New
        </button>
        <button class="btn btn-primary">
            <fa-icon [icon]="faFileUpload" class="icon-left"></fa-icon>
            Import
        </button>
    </div>
    <div class="section section-center">
        <button class="btn btn-secondary">
            <fa-icon [icon]="faBorderAll" class="icon-left" size="lg"></fa-icon>
            Workspace
            <fa-icon [icon]="faAngleDown" class="icon-right"></fa-icon>
        </button>
    </div>
    <div class="section section-right">
        <button class="btn btn-primary">
            <fa-icon [icon]="faSyncAlt"></fa-icon>
        </button>
        <button class="btn btn-primary">
            <fa-icon [icon]="faCog"></fa-icon>
        </button>
        <button class="btn btn-primary">
            <fa-icon [icon]="faBell"></fa-icon>
        </button>
    </div>
</header>