<div class="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-header-content">
            <div class="input-group">
                <div class="icon-left">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </div>
                <input type="text" placeholder="Filter" />
            </div>
        
            <div class="tab-container">
                <ul class="tabs">
                    <li class="tab-item" (click)="setActiveTab('history')">
                        <div class="tab" [class.active]="isHistoryTabActive">History</div>
                    </li>
                    <li class="tab-item" (click)="setActiveTab('collection')">
                        <div class="tab" [class.active]="isCollectionTabActive">Collection</div>
                    </li>
                </ul>
            
                <div class="tab-content" [class.active]="isHistoryTabActive">
                    <div class="menus">
                        <div class="action-menu">
                            <button class="btn btn-primary">Save response</button>
                        </div>
                        <div class="action-menu">
                            <button class="btn btn-secondary">Clear all</button>
                        </div>
                    </div>
                </div>
                <div class="tab-content" [class.active]="isCollectionTabActive">
                    <div class="menus">
                        <div class="action-menu">
                            <button class="btn btn-primary">New Collection</button>
                        </div>
                        <div class="action-menu">
                            <button class="btn btn-secondary">Trash</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
